@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.card {
    width: 800px;
    height: 100px;
    background-color: #00000099;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none; /* Ensure links look clean */
    color: #333;
  }
  
  .card img {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Space between image and title */
    object-fit: cover;
  }
  
  .card span {
    flex-grow: 1;
  }
  
  .cardText{
    display: flex;
    flex-direction: column;
    width:100%;
    font-family: 'Quicksand', sans-serif;
    padding: 5pt;
    color: aliceblue;
}

.titleCard{
    font-size: 1.5em;
    font-weight: 400;
}

.text1{
    font-weight: 400;
    font-size: 1.2em;
}

.text2{
    font-weight: 600;
    font-size: 1.2em;
}