
body {
  margin: 0; /* Removes default margin */
  height: 100vh; /* Ensures full page height */
  background-color: black;
}

a{
  color: aqua;
  font-weight: 600;
}

.app-container {
  height: 100vh;
  width: 100%;
  display: flex; /* Flexbox layout */
  flex-direction: row; /* Side-by-side alignment */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  align-items: center;
  background-color: rgba(26, 26, 26, 0.65);
  background-blend-mode: darken;
}

.left-section {
  display:flex;
  width: 50vw; /* Left section width */
  height: 100%;
  background-color: #00000000; /* Give it a distinct color */
  align-items:center;
}

.right-section {
  width: 50vw;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.overlay{
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.overlayTop{
  height: 50vh;
  width: 100vw;
  position:fixed;
  top: -180px;
  z-index: 5;
  object-fit: contain;
  pointer-events: none;

}

.overlayBottom{
  height: 50vh;
  width: 100vw;
  z-index: 5;
  position:fixed;
  object-fit: contain;
  pointer-events: none;
  bottom: -50px;
}